<div class="toolbar">
    <img width="40" alt="Angular Logo" src="https://angular.io/assets/images/logos/angular/angular.png" />
    <span>The Movies</span>
    <div class="spacer"></div>

    <a target="_blank" rel="noopener" href="https://www.rubicon-world.com/" title="Rubicon">
        <img src="https://attachments-cdn.breezy.hr/601b4c26-7279-4f18-af6f-070900d7857a/Logo%201024x1024.png"
            width="50px" height="50px">
    </a>
</div>

<div class="content" role="main">
    <nav>
        <!-- <button routerLink="movies" routerLinkActive="active">Movies</button>
        <button routerLink="tvShows" routerLinkActive="active">TV Shows</button> -->
        <a routerLink="movies" routerLinkActive="active" class="button3">Movies</a>
        <a routerLink="tvShows" routerLinkActive="active" class="button3">TV Shows</a>
    </nav>

    <div class="search">
        <form id="inner_search_form" action="/search" method="get" accept-charset="utf-8">
            <label>
                <input dir="auto" id="inner_search_v4" name="query" type="text" tabindex="1" autocorrect="off"
                    autofill="off" autocomplete="off" spellcheck="false"
                    placeholder="Search for a movie or tv show......" value="">
            </label>
            <input type="submit" value="Search">
        </form>
    </div>
    
    
    <router-outlet></router-outlet>
    
   
</div>


